.seccion {
  margin: 160px 40px;
  margin-bottom: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* Barra de herramientas*/
  .container-herramientas {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    animation: aparecer 2s both;
    animation-timeline: view();
    animation-range: cover 0% cover 50%;

    h3 {
      font-size: 3rem;
      margin-bottom: 50px;
      font-family: var(--title-font);
      text-shadow: var(--shadon-color);
      font-weight: 200;
    }

    .container-iconos {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 80%;
      gap: 40px;
      text-decoration: none;
      font-size: 4rem;
      font-family: var(--title-font);
      backdrop-filter: blur(6px) saturate(151%);
      -webkit-backdrop-filter: blur(6px) saturate(151%);
      background-color: rgba(0, 0, 1, 0.704);
      border-radius: 12px;
      border: var(--bordes-color);
      box-shadow: var(--shadon-color);

      li {
        list-style: none;

        .html {
          color: orangered;
        }

        .css {
          color: blueviolet;
        }

        .js {
          color: gold;
        }

        .git {
          color: rgb(255, 77, 0);
        }
      }
    }

    @media (max-width: 768px) {
      width: 100%;
      .container-iconos {
        display: grid;
        place-content: center;
        grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
        width: 100%;
        font-size: 4rem;
        padding: 5px;
      }

      @media (max-width: 540px) {
        width: 100%;
        .container-iconos {
          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
          width: 100%;
          font-size: 4rem;
          padding: 5px;
        }
      }
    }
  }

  /* Sobre mi */

  .sobre-mi {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 100px;
    animation: aparecer 2s both;
    animation-timeline: view();
    animation-range: cover 0% cover 50%;

    h3 {
      font-size: 3rem;
      font-family: var(--title-font);
      text-shadow: var(--shadon-color);
      font-weight: 200;
      margin-bottom: 20px;
    }

    .container-items {
      display: flex;
      justify-content: center;
      align-items: center;

      .text-items {
        font-weight: 100;
        text-align: justify;
        font-size: 1.2rem;
        padding: 18px;
        font-family: var(--text-font);
        backdrop-filter: blur(6px) saturate(151%);
        -webkit-backdrop-filter: blur(6px) saturate(151%);
        background-color: rgba(0, 0, 0, 0.704);
        border-radius: 12px;
        border: var(--bordes-color);
        box-shadow: var(--shadon-color);
        margin-left: 40px;
      }

      .foto-perfil {
        img {
          width: 200px;
          border-radius: 10px;
        }
      }

      @media (max-width: 768px) {
        flex-direction: column;
        gap: 20px;

        .text-items {
          margin-left: 0;
        }

        @media (max-width: 540px) {
          flex-direction: column;
          gap: 20px;

          .text-items {
            margin-left: 0;
          }
        }
      }
    }
  }

  /* Lista de proyectos*/

  .seccion-proyectos {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 100px;
    animation: aparecer 2s both;
    animation-timeline: view();
    animation-range: cover 5% cover 50%;

    h3 {
      font-size: 3rem;
      font-weight: 200;
      font-family: var(--title-font);
      text-shadow: var(--shadon-color);
      margin-bottom: 40px;
    }

    .proyectos {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      place-content: center;
      margin: 0 30px;
      gap: 55px;
      .container {
        width: 100%;
        height: 450px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        backdrop-filter: blur(6px) saturate(151%);
        -webkit-backdrop-filter: blur(6px) saturate(151%);
        background-color: rgba(0, 0, 0, 0.704);
        border: var(--bordes-color);
        box-shadow: var(--shadon-color);

        img {
          width: 100%;
          height: 100%;
          position: fixed;
        }

        .glass {
          width: 100%;
          height: 0px;
          position: absolute;
          bottom: 0;
          backdrop-filter: blur(4px) saturate(200%);
          -webkit-backdrop-filter: blur(4px) saturate(200%);
          background-color: rgba(0, 0, 0, 0.41);
          border: 1px solid rgba(255, 255, 255, 0.125);
          box-shadow: var(--shadon-color);
          transition: 500ms all;
          visibility: hidden;

          .contenido-del-proyecto {
            color: #fff;
            text-shadow: var(--shadon-color);
            margin: 30px 10px;
            display: flex;
            flex-direction: column;
            gap: 20px;

            h4 {
              font-size: 1.3rem;
              color: #fff;
              text-shadow: 0 0 6px #1c1d1c7b;
            }

            p {
              text-align: justify;
              font-family: var(--text-font);
              font-weight: 400;
            }

            .lenguajes-container {
              display: flex;
              justify-content: space-between;
              align-items: center;
              .lenguajes {
                ul {
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  gap: 20px;
                  font-size: 2.5rem;
                  filter: drop-shadow(0 0 6px #1c1d1c7b);

                  li {
                    list-style: none;

                    .html {
                      color: orangered;
                    }

                    .css {
                      color: blueviolet;
                    }

                    .js {
                      color: gold;
                    }
                  }
                }
              }

              .link {
                i {
                  color: #0effe3;
                  filter: drop-shadow(0 0 6px #1c1d1c7b);
                }
              }
            }
          }

          @media (max-width: 768px) {
            font-size: 0.8rem;
          }
        }

        &:hover {
          .glass {
            visibility: visible;
            height: 240px;
          }
        }
      }
    }
  }

  /*Contacto*/
  .contact {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-top: 170px;
    animation: aparecer 2s both;
    animation-timeline: view();
    animation-range: cover 5% cover 50%;

    backdrop-filter: blur(6px) saturate(151%);
    -webkit-backdrop-filter: blur(6px) saturate(151%);
    background-color: rgba(0, 0, 1, 0.704);
    border-radius: 12px;
    border: var(--bordes-color);
    box-shadow: var(--shadon-color);

    h4 {
      font-size: 2.4rem;
      font-family: var(--title-font);
      text-shadow: var(--shadon-color);
      font-weight: 100;
    }

    .formulario-container {
      display: flex;
      flex-direction: column;
      width: 95%;
      gap: 5px;
      padding: 20px;

      label {
        font-size: 1.4rem;
      }

      input {
        padding: 10px;
        font-size: 1rem;
        border-radius: 10px;
        outline: none;
        border: none;
      }

      textarea {
        height: 80px;
        padding: 10px;
        font-size: 1rem;
        border-radius: 10px;
        outline: none;
        border: none;
        resize: none;
        margin-bottom: 15px;
      }

      .btn {
        width: 100%;
        display: flex;
        justify-content: center;

        button {
          width: 40%;
          padding: 8px;
          font-size: 1rem;
          border-radius: 10px;
          outline: none;
          border: none;
          background-color: #ffffff;
          cursor: pointer;

          &:hover {
            background-color: #00eeff;
            color: #fff;
          }
        }
      }
    }

    @media (max-width: 768px) {
      width: 100%;
    }
  }
}
