/* FUENTE */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap");

/* ESTILOS GLOBALES */
:root {
  /* Colores  landing page*/
  --primary-color: #fffffff0;
  --responsive-color: #ffffff;
  --secondary-color: #3133d0;
  --bagroudn-color: linear-gradient(180deg, #191d96 20%, #5b7ff6);
  --bordes-color: 1px solid #ffffff9b;
  --hover-color: #ffffffa3;
  --tex-font: "Roboto", sans-serif;
  --title-font: "DM Serif Text", serif;
  --shadon-color: 0 0 10px #1c1d1c96;

  /* Secccion 1*/
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background: var(--bagroudn-color);
  height: 100vh;
  color: #ffffff;
  font-family: var(--tex-font);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  &.no-scroll {
    overflow: hidden;
  }
}

@keyframes aparecer {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
