/* FUENTE */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

/* ESTILOS GLOBALES */
:root {
  /* Colores */
  --primary-color: #fcfcfc;
  --secondary-color: #a1a2ab;
  --bagroudn-color: #131212;
  --tex-font: "Roboto", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--tex-font);
  background: linear-gradient(180deg, #002f20 10%, #0b7151);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: var(--primary-color);

  &.no-scroll {
    overflow: hidden;
  }
}
