.header {
  background-color: var(--bagroudn-color);
  font-family: var(--tex-font);
}

.container-link {
  gap: 25px;
}

a {
  color: var(--primary-color);
  text-decoration: none;
  font-size: 1.3rem;

  &:hover {
    color: var(--secondary-color);
  }
}

i {
  font-size: 1.5rem;
  cursor: pointer;
  color: #fff;

  &:hover {
    color: var(--secondary-color);
  }
}

li {
  list-style: none;
}
