.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  gap: 30px;
  backdrop-filter: blur(6px) saturate(151%);
  -webkit-backdrop-filter: blur(6px) saturate(151%);
  background-color: rgba(0, 0, 0, 0.945);
  box-shadow: var(--shadon-color);
  padding: 5px 10px;
  border-bottom: var(--bordes-color);

  .btn-bars {
    border: none;
    background: none;
    display: none;
    margin-left: 20px;

    i {
      font-size: 20px;
      color: var(--primary-color);
      &:hover {
        color: var(--hover-color);
      }
    }
  }

  @media (max-width: 1024px) {
    padding: 15px 25px;

    .btn-bars {
      display: block;
      cursor: pointer;
      backdrop-filter: blur(6px) saturate(151%);
      -webkit-backdrop-filter: blur(6px) saturate(151%);
      background-color: rgba(0, 0, 0, 0.788);
      border-radius: 12px;
      border: 1px solid rgba(255, 255, 255, 0.538);
      padding: 6px 12px;
    }
  }
}

.container-logo {
  display: flex;
  margin: 5px;
  align-items: center;
  backdrop-filter: blur(6px) saturate(151%);
  -webkit-backdrop-filter: blur(6px) saturate(151%);
  background-color: rgb(255, 255, 255);
  border-radius: 12px;
  box-shadow: var(--shadon-color);

  i {
    font-size: 1.8rem;
    padding: 8px;
    color: #000000;

    &:hover {
      color: var(--hover-color);
    }
  }
}

.container-nav {
  .bordes {
    padding: 5px 10px;
    border-left: var(--bordes-color);
    border-right: var(--bordes-color);
  }
  ul {
    display: flex;
    text-decoration: none;
    gap: 20px;

    li {
      list-style: none;

      a {
        text-decoration: none;
        color: var(--primary-color);
        font-size: 1.3rem;
        font-weight: 700;

        &:hover {
          color: var(--hover-color);
        }

        &:active {
          color: var(--hover-color);
        }
      }
    }
  }

  @media (max-width: 1024px) {
    display: none;
  }
}

.menu-responsive {
  transition: all 0.5s;
  position: absolute;
  background: var(--bagroudn-color);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100vh;
  z-index: 30;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;

  ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    gap: 20px;

    li {
      list-style: none;
      border-bottom: var(--bordes-color);
      padding: 10px 5px;
      border-radius: 15%;
      margin-bottom: 5px;

      a {
        text-decoration: none;
        color: var(--responsive-color);
        font-size: 1.3rem;
        font-weight: 700;

        &:hover {
          color: var(--hover-color);
        }

        &:active {
          color: var(--hover-color);
        }
      }
    }
  }

  &.active {
    left: 0;
  }

  .btn-close {
    position: absolute;
    top: 20px;
    right: 20px;
    border: none;
    background: transparent;
    cursor: pointer;

    i {
      font-size: 20px;
      color: var(--responsive-color);
      &:hover {
        color: var(--hover-color);
      }
    }
  }
}
