.header {
  display: flex;
  justify-content: space-between;
  margin: 5px 20px;
  align-items: center;
  padding: 10px 15px;
  gap: 30px;

  .btn-bars {
    border: none;
    background: none;
    display: none;
    margin-left: 20px;

    i {
      font-size: 20px;
      color: var(--primary-color);
      &:hover {
        color: #66efb1;
      }
    }
  }

  @media (max-width: 1024px) {
    padding: 15px 25px;

    .btn-bars {
      display: block;
      cursor: pointer;
    }
  }
}

.container-logo {
  display: flex;
  align-items: center;
  backdrop-filter: blur(6px) saturate(151%);
  -webkit-backdrop-filter: blur(6px) saturate(151%);
  background-color: rgba(38, 39, 41, 0.66);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.538);

  i {
    font-size: 1.8rem;
    padding: 8px;
    color: #ebfef4;

    &:hover {
      color: #66efb1;
    }
  }
}

.container-nav {
  .bordes {
    padding: 5px 10px;
    border-left: 1px solid #01fa92;
    border-right: 1px solid #01fa92;
  }
  ul {
    display: flex;
    text-decoration: none;
    gap: 20px;

    li {
      list-style: none;

      a {
        text-decoration: none;
        color: #ebfef4;
        font-size: 1.3rem;
        font-weight: 700;

        &:hover {
          color: #66efb1;
        }

        &:active {
          color: #66efb1;
        }
      }
    }
  }

  @media (max-width: 1024px) {
    display: none;
  }
}

.menu-responsive {
  transition: all 0.5s;
  position: absolute;
  background: linear-gradient(180deg, #002f20 10%, #0b7151);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100vh;
  z-index: 30;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;

  ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    gap: 20px;

    li {
      list-style: none;
      border-bottom: 1px solid #01fa92;
      padding: 10px 5px;
      border-radius: 15%;
      margin-bottom: 5px;

      a {
        text-decoration: none;
        color: #ebfef4;
        font-size: 1.3rem;
        font-weight: 700;

        &:hover {
          color: #66efb1;
        }

        &:active {
          color: #66efb1;
        }
      }
    }
  }

  &.active {
    left: 0;
  }

  .btn-close {
    position: absolute;
    top: 20px;
    right: 20px;
    border: none;
    background: transparent;
    cursor: pointer;

    i {
      font-size: 20px;
      color: #ebfef4;
      &:hover {
        color: #66efb1;
      }
    }
  }
}
