.main {
  display: flex;
  justify-content: space-between;
  margin: 25px 20px;

  @media (max-width: 1024px) {
    margin-top: 60px;
  }

  @media (max-width: 540px) {
    margin-top: 40px;
    flex-direction: column;
    align-items: center;
  }

  /* Titulo */

  .title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    width: 45%;
    margin: 60px 20px;

    h1 {
      font-weight: 300;
      font-size: 4rem;
      color: #fff;
      text-align: center;
      font-family: var(--title-font);
      text-shadow: 0 0 8px #000000c2;
      padding-bottom: 10px;
      border-bottom: 2px solid #ffffff9b;
      animation: leFadeInLeft 2.5s ease;
      animation-fill-mode: forwards;
    }

    p {
      color: #00ffe1;
      font-weight: 300;
      text-align: center;
      margin-top: 15px;
      animation: movimientoP 4s infinite ease-in-out alternate;
    }

    @media (max-width: 1024px) {
      width: 40%;
      margin: 20px 0;

      h1 {
        font-size: 3rem;
        animation: leFadeInLeft2 1.5s ease;
        animation-fill-mode: forwards;
      }

      p {
        font-size: 1.2rem;
      }
    }
    @media (max-width: 540px) {
      width: 90%;

      h1 {
        font-size: 2rem;
        animation: leFadeInLeft3 1.5s ease;
        animation-fill-mode: forwards;
        margin-top: 20px;
        text-align: center;
      }

      p {
        font-size: 1.4rem;
      }
    }
  }
}

/* Animaciones */

@keyframes movimientoP {
  50% {
    transform: translateX(-45px);
  }
  100% {
    transform: translateX(45px);
  }
}

@keyframes leFadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-600px);
  }
  to {
    opacity: 1;
  }
}

@keyframes leFadeInLeft2 {
  from {
    opacity: 0;
    transform: translateX(-400px);
  }
  to {
    opacity: 1;
  }
}

@keyframes leFadeInLeft3 {
  from {
    opacity: 0;
    transform: translateX(-200px);
  }
  to {
    opacity: 1;
  }
}

/* Imagen */

.img {
  color: #ffffff;
  width: 42%;
  text-align: center;
  margin-top: 60px;

  .marca {
    width: 100%;
    border: var(--bordes-color);
    box-shadow: var(--shadon-color);
    border-radius: 10px;

    animation: desplazamientoTop 2.5s ease;
  }

  .title-img {
    font-weight: 100;
    font-size: 1.2rem;
    font-family: var(--text-font);
    backdrop-filter: blur(6px) saturate(151%);
    -webkit-backdrop-filter: blur(6px) saturate(151%);
    background-color: rgba(0, 0, 0, 0.788);
    border-radius: 12px;
    border: var(--bordes-color);
    box-shadow: var(--shadon-color);
    margin-top: 5px;
    padding: 8px 10px;
    box-shadow: var(--shadon-color);
    animation: desplazamientoRight 2.5s ease;
  }

  @media (max-width: 768px) {
    width: 45%;
    margin: 20px 0;
    .marca {
      width: 100%;
      animation: desplazamientoTop2 1.5s ease;
    }

    .title-img {
      font-size: 1rem;
      font-family: var(--title-font);
      animation: desplazamientoRight2 1.5s ease;
    }

    @media (max-width: 540px) {
      width: 100%;
      justify-content: center;
      align-items: center;

      .marca {
        width: 60%;
        animation: desplazamientoTop3 1.5s ease;
      }

      .title-img {
        font-size: 1rem;
        font-family: var(--title-font);
        animation: desplazamientoRight3 1.5s ease;
        margin-top: 15px;
      }
    }
  }
}

/* Animaciones */

@keyframes desplazamientoTop {
  from {
    opacity: 0;
    transform: translatey(-600px);
  }
  to {
    opacity: 1;
  }
}

@keyframes desplazamientoTop2 {
  from {
    opacity: 0;
    transform: translateY(-400px);
  }
  to {
    opacity: 1;
  }
}

@keyframes desplazamientoTop3 {
  from {
    opacity: 0;
    transform: translateY(-200px);
  }
  to {
    opacity: 1;
  }
}

@keyframes desplazamientoRight {
  from {
    opacity: 0;
    transform: translatex(-1200px);
  }
  to {
    opacity: 1;
  }
}

@keyframes desplazamientoRight2 {
  from {
    opacity: 0;
    transform: translatex(-600px);
  }
  to {
    opacity: 1;
  }
}

@keyframes desplazamientoRight3 {
  from {
    opacity: 0;
    transform: translatex(-400px);
  }
  to {
    opacity: 1;
  }
}

/*Iconos redes sociales*/

.redes-sociales {
  margin-left: 105px;
  display: flex;
  gap: 20px;
  align-items: center;
  animation: salto 2s infinite;

  i {
    color: #fff;
    font-size: 2.2rem;
    cursor: pointer;
    backdrop-filter: blur(6px) saturate(151%);
    -webkit-backdrop-filter: blur(6px) saturate(151%);
    background-color: rgba(0, 0, 0, 0.793);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.538);
    padding: 6px 12px;

    &:hover {
      color: #00eaff;
      border: 1px solid #000;
      scale: 1.1;
    }
  }

  @media (max-width: 768px) {
    margin-left: 35px;

    i {
      font-size: 1.5rem;
    }
    @media (max-width: 540px) {
      justify-content: center;
      align-items: center;
      margin-left: 0;
      i {
        font-size: 1.2rem;
      }
    }
  }
}

@keyframes salto {
  50% {
    transform: translateY(-10px);
  }
}

.hiden {
  visibility: hidden;
}
